.header {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 100px auto;
  text-align: center;
  position: relative;
}
.header-form {
  margin-top: 20px;
}
.header-form .text_2 {
  margin-top: 10px;
}
.header-form #login {
  display: block;
  margin: 0 auto;
}
.header-form #password {
  display: block;
  margin: 0 auto;
}
.header-form .btn_input {
  position: absolute;
  bottom: 30px;
  left: 73px;
}
.header-form .btn_input_link_1 {
  text-decoration: none;
  color: #333;
}
.header-form .btn_reg {
  position: absolute;
  bottom: 30px;
  left: 135px;
}
.header-form .btn_reg_link_2 {
  text-decoration: none;
  color: #333;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
}
.modal:target {
  display: block;
}
.modal:target + .form-reg {
  display: block;
}
.form-reg {
  width: 200px;
  height: 300px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}
.form-reg .close {
  position: absolute;
  right: 10px;
}
