* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	width: 1920px;
}

.header {
	width: 100%;
	height: 75rem;
	background: url(../img/header-bg.png) no-repeat center center;
	position: relative;
	.logo {
		width: 80%;
		display: inline-block;
		margin-left: 37rem;
		margin-top: 5rem;
		position: relative;
		&_main_text {
			position: absolute;
			top: 0;
			left: 12rem;
			display: inline-block;
			color: #fff;
			font-size: 2rem;
			font-family: 'P22UndergroundCYPro-Heavy';
		}
		&_text {
			position: absolute;
			top: 3rem;
			left: 12rem;
			display: inline-block;
			color: #fff;
			font-size: 1.5rem;
			font-family: 'P22UndergroundCYPro-Thin';
		}
		.header_ring {
			position: absolute;
			left: 80rem;
			width: 16rem;
			height: 5rem;
			background-color: transparent;
			border: 0.1rem solid #fff;
			border-radius: 0.5rem;
			color: #fff;
			text-transform: lowercase;
			font-family: 'P22UndergroundCYPro-Thin';
			font-size: 1.8rem; 
		}
		.header_tel {
			position: absolute;
			top: 1.5rem;
			left: 100rem;
			display: inline-block;
			color: #fff;
			font-family: 'P22UndergroundCYPro-Heavy';
			font-size: 2.5rem;
		}
	}
	.main_text {
		width: 58%;
		color: #ffff33;
		text-transform: uppercase;
		margin: 5rem auto;
		font-family: 'P22UndergroundCYPro-Heavy';
		font-size: 3.7rem;
		text-align: center;
		line-height: 1.5;
	}
	.quality_1 {
		display: inline-block;
		position: absolute;
		left: 47rem;
		top: 44.7rem;
		color: #fff;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 2rem;
		&:before {
			content: url(../img/1.png);
			margin-right: 1rem;
		}
	}
	.quality_2 {
		display: inline-block;
		position: absolute;
		left: 47rem;
		top: 48rem;
		color: #fff;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 2rem;
		&:before {
			content: url(../img/1.png);
			margin-right: 1rem;
		}
	}
	.quality_3 {
		display: inline-block;
		position: absolute;
		left: 47rem;
		top: 51.7rem;
		color: #fff;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 2rem;
		&:before {
			content: url(../img/1.png);
			margin-right: 1rem;
		}
		
	}
	.money {
			display: inline-block;
			position: absolute;
			bottom: -4rem;
			left: 50%;
			z-index: 1;
			transform: translateX(-50%);
		}
	.header-form {
		display: inline-block;
		width: 42rem;
		height: 41.3rem;
		background-color: #fff;
		border-radius: 0.5rem;
		position: absolute;
		left: 103rem;
		bottom: 5rem;
		text-align: center;
		.form_text {
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 2.2rem;
			display: inline-block;
			width: 28rem;
			margin: 4rem auto;
		}
		.form_name {
			width: 26rem;
			height: 5.9rem;
			border: 1px solid #999;
			position: absolute;
			left: 10.9rem;
			top: 16.6rem;
			outline: none;
			padding-left: 2rem;
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
			&:focus {
				border: 1px solid #333;
			}
		}
		.icon_name {
			display: inline-block;
			position: absolute;
			top: 16.6rem;
			left: 5.0rem;
		}
		.form_call {
			width: 26rem;
			height: 5.9rem;
			border: 1px solid #999;
			position: absolute;
			left: 10.9rem;
			top: 23.3rem;
			outline: none;
			padding-left: 2rem;
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
			&:focus {
				border: 1px solid #333;
			}
		}
		.icon_call {
			display: inline-block;
			position: absolute;
			top: 23.3rem;
			left: 5rem;
		}
		.form_btn {
			width: 32rem;
			height: 5.5rem;
			background-color: #ffff33;
			border: none;
			position: absolute;
			bottom: 5.4rem;
			left: 5rem;
			border-radius: 0.5rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.5rem;
			outline: none;
			&:focus {
				box-shadow: 0 1rem 1rem #333; 
			}
			&:hover {
				cursor: pointer;
			}

		}
	}
}

.main {
	width: 100%;
	height: 83.3rem;
	background-color: #fff;
	position: relative;
	.row_1 {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 10rem;
		.item_1 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 40rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_1_text {
				margin-top: 2rem;
			}
		}
		.item_2 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 70rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_2_text {
				margin-top: 2rem;
			}
		}
		.item_3 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 100rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_3_text {
				margin-top: 2rem;
			}
		}
		.item_4 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 130rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_4_text {
				margin-top: 2rem;
			}
		}
	}
	.row_2 {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 35rem;
		.item_5 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 40rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_5_text {
				margin-top: 2rem;
			}
		}
		.item_6 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 70rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_6_text {
				margin-top: 2rem;
			}
		}
		.item_7 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 100rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_7_text {
				margin-top: 2rem;
			}
		}
		.item_8 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 130rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_8_text {
				margin-top: 2rem;
			}
		}
	}
	.row_3 {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 60rem;
		.item_9 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 70rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_9_text {
				margin-top: 2rem;
			}
		}
		.item_10 {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 100rem;
			width: 10%;
			height: 18rem;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.8rem;
			.item_10_text {
				margin-top: 2rem;
			}
		}
	}
}

.footer {
	width: 100%;
	height: 65.4rem;
	background-color: #fbfbfb;
	text-align: center;
	position: relative;
	.number {
		display: inline-block;
		width: 10.2%;
		height: 7.5rem;
		color: #ffff33;
		font-size: 10rem;
		font-family: 'P22UndergroundCYPro-Heavy';
		margin-top: 10rem;
		margin-left: 5rem;
	}
	.line {
		width: 90%;
		margin-top: 3rem;
		margin-left: 12rem;
	}
	.one {
		display: inline-block;
		width: 10.2%;
		height: 3rem;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 1.8rem;
		text-align: center;
		position: absolute;
		top: 25rem;
		left: 38rem;
	}
	.two {
		display: inline-block;
		width: 10.2%;
		height: 3rem;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 1.8rem;
		text-align: center;
		position: absolute;
		top: 25rem;
		left: 63rem;
	}
	.three {
		display: inline-block;
		width: 10.2%;
		height: 3rem;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 1.8rem;
		text-align: center;
		position: absolute;
		top: 25rem;
		left: 88rem;
	}
	.four {
		display: inline-block;
		width: 10.2%;
		height: 3rem;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 1.8rem;
		text-align: center;
		position: absolute;
		top: 25rem;
		left: 114rem;
	}
	.fifth {
		display: inline-block;
		width: 10.2%;
		height: 3rem;
		font-family: 'P22UndergroundCYPro-Book';
		font-size: 1.8rem;
		text-align: center;
		position: absolute;
		top: 25rem;
		left: 140rem;
	}
	.footer-form {
		width: 108rem;
		height: 15.8rem;
		background-color: #333333;
		margin: 0 auto;
		margin-top: 20rem;
		border-radius: 0.5rem;
		position: relative;
		.footer_name {
			width: 26rem;
			height: 5.9rem;
			border: 1px solid #cccccc;
			background-color: transparent;
			position: absolute;
			left: 10.9rem;
			top: 5rem;
			padding-left: 3rem;
			color: #fff;
			outline: none;
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
		}
		.icon_footer_name {
			position: absolute;
			top: 5rem;
			left: 5rem;
		}
		.footer_call {
			width: 26rem;
			height: 5.9rem;
			border: 1px solid #cccccc;
			background-color: transparent;
			position: absolute;
			left: 43.9rem;
			top: 5rem;
			padding-left: 3rem;
			color: #fff;
			outline: none;
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
		}
		.icon_footer_call {
			position: absolute;
			top: 5rem;
			left: 38rem;
		}
		.footer_ring {
			width: 32rem;
			height: 5.9rem;
			position: absolute;
			top: 5rem;
			right: 5rem;
			border-radius: 0.5rem;
			outline: none;
			border: none;
			background-color: #ffff33;
			font-family: 'P22UndergroundCYPro-Book';
			font-size: 1.5rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 1024px) {
	.header {
		.logo {
			&_main_text {
				font-size: 3rem;
			}
			&_text {
				font-size: 2.5rem;
			}
			.header_ring {
				font-size: 2.5rem;
				width: 20rem;
				left: 75rem;
			}
			.header_tel {
				font-size: 3.5rem;
				top: 1.3rem;
			}
		}
		.quality_1, .quality_2, .quality_3 {
			font-size: 3.5rem;
			left: 35rem;
		}
		.quality_3 {
			width: 70rem;
		}
		.header-form {
			.form_text {
				font-size: 2.8rem;
			}
			.form_name {
				font-size: 2.5rem;
			}
			.form_call {
				font-size: 2.5rem;
			}
			.form_btn {
				font-size: 2.5rem;
			}
		}
	}
	.main {
		.row_1 {
			top: 5rem;
			.item_1 {
				&_text {
					font-size: 2.8rem;
				}
			}
			.item_2 {
				&_text {
					font-size: 2.8rem;
				}
			}
			.item_3 {
				&_text {
					font-size: 2.8rem;
				}
			}
			.item_4 {
				&_text {
					font-size: 2.8rem;
				}
			}
		}
		.row_2 {
			.item_5 {
				&_text {
					font-size: 2.8rem;
				}
			}
			.item_6 {
				&_text {
					font-size: 2.8rem;
				}
			}
			.item_7 {
				&_text {
					font-size: 2.8rem;
				}
			}
			.item_8 {
				&_text {
					font-size: 2.8rem;
				}
			}
		}
		.row_3 {
			.item_9 {
				&_text {
					font-size: 2.8rem;
				}
			}
			.item_10 {
				&_text {
					font-size: 2.8rem;
				}
			}
		}
	}

	.footer {
		.one, .two, .three, .four, .fifth {
			font-size: 2.5rem;
		}
		.footer-form {
			.footer_name {
				font-size: 2.5rem;
			}
			.footer_call {
				font-size: 2.5rem;
			}
			.footer_ring {
				font-size: 2.5rem;
			}
		}
	}
}
























@font-face {
    font-family: 'P22UndergroundCYPro-Demi';
    src: url('../fonts/P22UndergroundCYPro-Demi.eot');
    src: url('../fonts/P22UndergroundCYPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/P22UndergroundCYPro-Demi.woff2') format('woff2'),
        url('../fonts/P22UndergroundCYPro-Demi.woff') format('woff'),
        url('../fonts/P22UndergroundCYPro-Demi.ttf') format('truetype'),
        url('../fonts/P22UndergroundCYPro-Demi.svg#P22UndergroundCYPro-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYPro-Medium';
    src: url('../fonts/P22UndergroundCYPro-Medium.eot');
    src: url('../fonts/P22UndergroundCYPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/P22UndergroundCYPro-Medium.woff2') format('woff2'),
        url('../fonts/P22UndergroundCYPro-Medium.woff') format('woff'),
        url('../fonts/P22UndergroundCYPro-Medium.ttf') format('truetype'),
        url('../fonts/P22UndergroundCYPro-Medium.svg#P22UndergroundCYPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYPro-Heavy';
    src: url('../fonts/P22UndergroundCYPro-Heavy.eot');
    src: url('../fonts/P22UndergroundCYPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/P22UndergroundCYPro-Heavy.woff2') format('woff2'),
        url('../fonts/P22UndergroundCYPro-Heavy.woff') format('woff'),
        url('../fonts/P22UndergroundCYPro-Heavy.ttf') format('truetype'),
        url('../fonts/P22UndergroundCYPro-Heavy.svg#P22UndergroundCYPro-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYPro-Book';
    src: url('../fonts/P22UndergroundCYPro-Book.eot');
    src: url('../fonts/P22UndergroundCYPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/P22UndergroundCYPro-Book.woff2') format('woff2'),
        url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'),
        url('../fonts/P22UndergroundCYPro-Book.ttf') format('truetype'),
        url('../fonts/P22UndergroundCYPro-Book.svg#P22UndergroundCYPro-Book') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'P22UndergroundCYPro-Thin';
    src: url('../fonts/P22UndergroundCYPro-Thin.eot');
    src: url('../fonts/P22UndergroundCYPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/P22UndergroundCYPro-Thin.woff2') format('woff2'),
        url('../fonts/P22UndergroundCYPro-Thin.woff') format('woff'),
        url('../fonts/P22UndergroundCYPro-Thin.ttf') format('truetype'),
        url('../fonts/P22UndergroundCYPro-Thin.svg#P22UndergroundCYPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}