.wrapper {
	width: 1400px;
	height: 646px;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 50px;
}

.wrapper_head {
	width: 100%;
	height: 89px;
	border-bottom: 1px solid #f0f2f7;
	position: relative;
}

.wrapper_head_logo {
	display: inline-block;
	width: 7%;
	height: 100%;
	background: url(../img/logo.svg) no-repeat center center;
	margin-left: 115px;
}

.wrapper_head_links {
	display: inline-block;
	width: 45%;
	height: 100%;
	position: absolute;
	left: 320px;
	top: 35px;
}

.wrapper_head_links_link_1, .wrapper_head_links_link_2, .wrapper_head_links_link_3, .wrapper_head_links_link_4, .wrapper_head_links_link_5 {
	text-decoration: none;
	color: #343e5c;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 16px;
	margin-left: 30px;
}

.wrapper_head_cart {
	display: inline-block;
	width: 10%;
	height: 100%;
	position: absolute;
	left: 1050px;
}

.wrapper_head_cart_basket {
	margin-top: 35px;
}

.wrapper_head_cart_shop {
	display: inline-block;
	color: #343e5c;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 11px;
	position: absolute;
	top: 40px;
	left: 25px;
}
 
.wrapper_head_cart_number {
	width: 25px;
	height: 25px;
	background-color: #e3e8f0;
	border-radius: 50%;
	text-align: center;
	color: #343e5c;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 11px;
	position: absolute;
	left: 65px;
	top: 32px;
	
}

.wrapper_head_cart_span {
	position: absolute;
	left: 9px;
	top: 7px;
}

.wrapper_head_button {
	width: 15%;
	height: 100%;
	display: inline-block;
	position: absolute;
	right: 0;
}

.wrapper_head_button_sign {
	width: 85px;
	height: 30px;
	border-radius: 30px;
	background-color: transparent;
	border: 2px solid #e3e8f0;
	color: #343e5c;
	color: #343e5c;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 28px;
	outline: none;
}


.wrapper_main {
	width: 100%;
	height: 56px;
	position: relative;
}

.wrapper_main_links {
	width: 75%;
	height: 56px;
	border-right: 1px solid #f0f2f7;
	border-bottom: 1px solid #f0f2f7;
	display: inline-block;
}

.wrapper_main_links_link_1 {
	text-decoration: none;
	color: #b9bed1;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 11px;
	margin-left: 115px;
	display: inline-block;
	margin-top: 24px;
}

.wrapper_main_links_link_2, .wrapper_main_links_link_3, .wrapper_main_links_link_4, .wrapper_main_links_link_5 {
	text-decoration: none;
	color: #b9bed1;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 11px;
	margin-left: 30px;
	text-transform: uppercase;
}

.wrapper_main_links_link_6 {
	text-decoration: none;
	color: #b9bed1;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 11px;
	margin-left: 380px;
	text-transform: uppercase;
}

.wrapper_main_links_link_1:hover {
	color: #343e5c;
}

.wrapper_main_links_link_2:hover {
	color: #343e5c;
}

.wrapper_main_links_link_3:hover {
	color: #343e5c;
}

.wrapper_main_links_link_4:hover {
	color: #343e5c;
}

.wrapper_main_links_link_5:hover {
	color: #343e5c;
}

.wrapper_main_links_link_6:hover {
	color: #343e5c;
}



.wrapper_main_search {
	width: 15%;
	height: 56px;
	border-right: 1px solid #f0f2f7;
	border-bottom: 1px solid #f0f2f7;
	position: absolute;
	left: 1051px;
	top: 0;
}

.wrapper_main_search_img {
	margin-left: 40px;
}

.wrapper_main_search_looking {
	width: 100px;
	border: none;
	outline: none;
	margin-top: 22px;
	margin-left: 5px;
	color: #b9bed1;
}

.wrapper_main_white {
	height: 100%;
	width: 15%;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 1px solid #f0f2f7;
}

.wrapper_bg {
	width: 100%;
	height: 500px;
	background: url(../img/bg.jpg) no-repeat center center;
}

.wrapper_bg_name {
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 42px; 
	display: inline-block;
	width: 25%;
	margin-top: 120px;
	margin-left: 210px;
}

.wrapper_bg_slogan {
	color: #fff;
	font-family: 'Crimson+Text';
	font-size: 16px; 
	width: 25%;
	margin-left: 210px;
	margin-top: 20px;
	line-height: 1.5;

}

.wrapper_bg_buy {
	width: 165px;
	height: 42px;
	color: #fff;
	background-color: #2754eb;
	border: none;
	border-radius: 20px;
	margin-left: 205px;
	margin-top: 68px;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 11px;
	text-transform: uppercase;
}

